body{
    display:grid;
    width:100%;
    height:100%;
    min-width:1150px;
    overflow:hidden;
}

.user{
    width:100%;
    padding-top:12px;
    text-align:right;
}

.user a{
    text-decoration:none;
    margin-right:1%;
    font-size:80%;
    color:black;
}

.user a:visited{
    color:black;
}

.user a:hover{
    color:grey;
    text-decoration-line: underline;
}

.content{
    display:block;
    width:100%;
    height:70%;
}

.content #search{
    padding-left:25px;
    outline:none;
}

.content #search:hover{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.content #search:focus{
    background-color:white;
}

.content button{
    margin:10px 5px 0px 5px;
    padding:0px 20px 0px 20px;
    width:auto;
    height:30px;
    color:rgb(100,100,100);
    border-style:none;
    border-radius:3px;
    font-size:15px;
    outline:none;
}

.content button:hover{
    border:0.1px solid rgb(200,200,200);
    color:rgb(50,50,50);
}

.content button:active{
    border:0.1px solid rgba(0,0,255,0.4);
}

.footer{
    display:flex;
    flex-direction:column;
    color:grey;
    background-color:beige;
    border:1px solid lightgrey;
    align-content:flex-end;
    width:100%;
    min-width:1150px;
    position: absolute;
    bottom:0;
}

@media (max-height:470px)
{
    .footer{
        display:none;
        transition:all 3s;
    }
}

.footer div{
    font-size:90%;
    outline:none;
    padding-left:10px;
}

.footer2{
    height:30px;
    display:flex;
    padding:7px 0px 7px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    border-top:1px solid lightgrey;
}

.footer2 div{
    border-style:none;
    outline:none;
    font-size:100%;
    padding-right:5px;
}

.footer2 .footer_a{
    padding-right:15px;
    color:grey;
    text-decoration:none;
}

.footer2 .footer_a:hover{
    padding-right:15px;
    text-decoration:underline;
}

.footer2 .footer_a:active{
    color:rgba(255,0,0,0.9);
}

.but{
    margin:0px 10px 0px 10px;
    height:20px;
    color:grey;
    border-style:none;
    border-radius:3px;
    font-size:10px;
}
